<script id="thong-tin-ca-nhan-partial" type="text/x-handlebars-template">
    {{#with content}}
    <label for="ten-dang-nhap">Tên đăng nhập</label>
    <input disabled type="text" id="tean-dang-nhap" placeholder="Tên đăng nhập.." value="{{tai_khoan.ten_dang_nhap}}">

    <label for="hoTen">Họ và tên</label>
    <input disabled type="text" id="hoTen" placeholder="Họ và tên.." value="{{tai_khoan.ho_va_ten}}">

    <label for="CMND">CMND</label>
    <input disabled type="text" id="CMND" placeholder="CMND.." value="{{tai_khoan.cmnd}}">

    <label for="SDT">SĐT</label>
    <input disabled type="text" id="SDT" placeholder="SĐT.." value="{{tai_khoan.sdt}}">

    <label for="email">Email</label>
    <input disabled type="text" id="email" placeholder="Email.." value="{{tai_khoan.email}}">

    {{/with}}
 
 </script>