<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="/css/thanh-vien-thong-tin-ca-nhan.css">
</head>
<body>
<div class="container">
  
    <label for="ten-dang-nhap">Tên đăng nhập</label>
    <input type="text" id="tean-dang-nhap" placeholder="Tên đăng nhập.." value="DrThanh98">

    <label for="matKhau">Mật khẩu</label>
    <input type="text" id="matKhau" placeholder="Mật khẩu.." value="1234">

    <label for="hoTen">Họ và tên</label>
    <input type="text" id="hoTen" placeholder="Họ và tên.." value="Nguyễn Duy Thanh">

    <label for="CMND">CMND</label>
    <input type="text" id="CMND" placeholder="CMND.." value="161262800">

    <label for="SDT">SĐT</label>
    <input type="text" id="SDT" placeholder="SĐT.." value="0344576982">

    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Email.." value="thanhnguyenpro@gmail.com">

</div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

</body>
</html>